.leaflet-container {
  width: 95%;
  height: 77.7vh;
  border-radius: 20px;
  border: thick double #32a1ce;
  position: relative !important;
  z-index: 0;
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(104, 240, 180, 0.6);
  text-align: center;
}

.marker-cluster-small div {
  background-color: rgba(5, 201, 114, 0.6);
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
}

.marker-cluster span {
  line-height: 30px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(33deg, rgb(4, 74, 92), rgb(151, 214, 211));
}

div.leaflet-control-zoom {
  visibility: hidden;
}

.radio-container {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(6, 141, 107);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
}

li {
  list-style-type: none;
}

sup.numberCategory {
  color: rgb(207, 207, 207);
}

button.button-category {
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

button.button-category:hover {
  color: rgb(0, 51, 99);
}

label:hover {
  color: rgb(0, 51, 99);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
